@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-primary bg-gray-50 text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[80px] leading-[1.1] font-semibold;
  }
}
